{% extends 'base_generic.html' %}

{% block title %}Panel de Control - Farmacia Collico{% endblock %}

{% block content %}

  <div class="container mt-4">
    <h2 class="mb-4">Dashboard</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Medicamentos</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for medicamento in medicamentos %}
                  <tr  class="{% if medicamento.get_nivel_stock == 'Alto' %}table-success{% elif medicamento.get_nivel_stock == 'Medio' %}table-warning{% else %}table-danger{% endif %}">
                    <td>{{ medicamento.nombre }}</td>
                    <td>{{ medicamento.stock }}</td>
                    <td>{{ medicamento.get_nivel_stock }}</td>
                    <td>
                      {% if medicamento.vendido %}
                        <span class="badge badge-success">Vendido</span>
                      {% endif %}
                    </td>
                    <td>
                      <a href="{% url 'medicamento_detail' medicamento.id %}" class="btn btn-info btn-sm">Ver Detalles</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Estadísticas de Ventas</h5>
            <p class="card-text">Total de Stock Vendido: {{ stock_vendido }}</p>
            <p class="card-text">Total de Ventas: {{ total_ventas }}</p>
            <p class="card-text">Monto Total Vendido: ${{ monto_total_vendido }}</p>

            <h5 class="card-title">Estadísticas de Ventas Semanales</h5>
            <ul>
              {% for semana in ventas_semanales %}
                <li>Semana {{ semana.week|date:"W Y" }}: ${{ semana.total }}</li>
              {% endfor %}
            </ul>

            <h5 class="card-title">Estadísticas de Ventas Mensuales</h5>
            <ul>
              {% for mes in ventas_mensuales %}
                <li>{{ mes.month|date:"F Y" }}: ${{ mes.total }}</li>
              {% endfor %}
            </ul>

            <h5 class="card-title">Estadísticas de Ventas Anuales</h5>
            <ul>
              {% for año in ventas_anuales %}
                <li>Año {{ año.year|date:"Y" }}: ${{ año.total }}</li>
              {% endfor %}
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
