{% extends 'base_generic.html' %}

{% block title %}Eliminar Venta - Farmacia Collico{% endblock %}

{% block content %}
  <div class="container">
    <div class="card mt-4">
      <div class="card-body">
        <h2 class="card-title mb-4">Eliminar Venta</h2>

        <p class="card-text">¿Estás seguro de que deseas eliminar la venta con ID {{ venta.id }}?</p>

        <form method="post" action="{% url 'eliminar_venta' venta.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
          <a href="{% url 'ventas' %}" class="btn btn-secondary">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

