{% extends 'farmacia/base_registro_ingreso.html' %}

{% block title %}Inicio de Sesión - Farmacia Collico{% endblock %}

{% block content %}
  <div class="container mt-5">

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center mb-4">Inicio de Sesión</h2>

            <form method="post" class="form">
              {% csrf_token %}
              {{ form.as_p }}

              <button type="submit" class="btn btn-primary btn-block mt-3">Iniciar Sesión</button>
            </form>


            


          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


